.global--wrapper-popoverC {
    .anchor-reference {
        position: absolute;
        visibility: hidden;
        top: 50vh;
        left: 50vw;
    } 

    .overlay {
        display: none;
        position: absolute;
        top: -300px;
        left: 0;
        min-width: 100vw;
        min-height: calc(100vh + 300px);
        flex-shrink: 0;
        background-color: rgba(0, 0, 0, 0.534);
    }

    .show-layer {
        display: flex;
    }

    .hidden-layer {
        display: none !important;
    }
    
}

.popover .MuiPaper-root {
    left: 0 !important;
    top: 0 !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
    max-height: 100vh;
    

    @media only screen and (min-width: 768px) {
        top: 0 !important;
        min-width: 84vw !important;
        margin:5vh 8vw !important;

        min-height: 90vh !important;
        max-height: 90vh !important;
        
    }
    
}


.container--box-connexion {
    height: 100%;
    .connexion--wrapper {
        display: block;
        width: 100%;
        height: 100%;
    }

    .btn--link {
        background: none;
        border: none;
        padding: 12px;
        outline: none;
        display: block;
        font-size: 19px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1;
        appearance: none;
        cursor: pointer;
        opacity: 0.7;

        max-width: 300px;
        margin: 20px auto 0px;

        .close--icon {
            background-image: url('../../../public/img/icon4.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 1em;
            height: 1em;
            display: block;
            opacity: 0.65;
        }
    }

    .wrapper--contenu {
        padding: 24px 0px;
        text-align: center;
        height: 100%;
        margin-block: auto;
        width: 100%;
        

        .contenu--login {
            width: 100%;
            max-width: 380px;
            margin: 0px auto;

            .contenu--login-container {
                font-size: 13px;
                line-height: 1.54;

                .titre {
                    margin: 0px 0px 9px;
                    color: rgb(45, 69, 88);
                    font: 500 21px "Chronicle SSm A", "Chronicle SSm B", serif;
                }

                .sous-titre {
                    margin-bottom: 9px;
                }

                .formulaire {
                    max-width: 343px;
                    margin: 0px auto;
                    padding-top: 4px;

                    .email--container, .password--container {
                        margin-top: 7px;
                        position: relative;

                        .label {
                            height: 16px;
                            padding: 0px 5px;
                            position: absolute;
                            top: -7px;
                            left: 7px;

                            &::before {
                                content: "";
                                background: linear-gradient(rgb(255, 255, 255) 8px, transparent 8px);
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                opacity: 0;
                                transition: opacity 0.2s ease-in-out 0s;
                            }

                            .label--text {
                                color: rgb(144, 144, 144);
                                position: relative;
                                z-index: 1;
                                display: block;
                                font-size: 16px;
                                line-height: normal;
                                transform: translateY(20px);
                                transition: color 0.2s ease-in-out 0s, font-size 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
                            }

                            .label--text-onFocus {
                                color: rgb(113,113,113);
                                font-size: 12px;
                                transform: translateY(0px);
                                transition: color 0.2s ease-in-out 0s, font-size 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
                            }
                        }

                        .label--onFocus {
                            &::before {
                                opacity: 1;
                            }

                        }
    
                        .input {
                            background: rgb(250, 250, 250);
                            width: 100%;
                            height: 45px;
                            border: 1px solid rgb(234, 234, 234);
                            outline: none;
                            padding: 10px 12px;
                            color: rgb(68, 68, 68);
                            font-size: 16px;
                            font-family: inherit;
                            border-radius: 1px;
                            appearance: none;
                        }
                    }
    
                    .password--container {
                        position: relative;
                        margin-top: 15px;

                        .label {
                            .label--text {
    
                            }
                        }
    
                        .input {
                            
                        }
                    }

                    .lien {
                        margin: 4px 0px 20px;
                        color: rgb(161, 143, 122);
                        font-size: 12px;
                        float: right;
                    }
                    
                    .btn {
                        border-radius: 1px;
                        max-width: 300px;
                        margin: 20px auto 0px;
                        margin-top: 0px;
                    }

                }

                

                
                
            }
        }

        .contenu--signup {
            width: 100%;
            max-width: 343px;
            margin: 23px auto 0px;
            border-top: 1px solid rgb(196, 196, 196);
            padding-top: 24px;

            .titre {
                display: none;
            }

            .sous-titre {
                margin-bottom: 18px;
                font-size: 13px;
                line-height: 1.5;   
            }

            .btn {
                border-radius: 1px;
            }
        }
    }
}


@media only screen and (min-width: 768px) {
    .container--box-connexion {
        .btn--link {
            top: 10px;
            right: 10px;
        }

        .wrapper--contenu {
            height: calc(100vh - 10vh);
            width: 100%;
            padding: 50px 0px;
            display: flex;
            -webkit-box-align: stretch;
            align-items: stretch;

            .contenu--login {
                display: flex;
                flex-direction: column;
                -webkit-box-pack: center;
                justify-content: center;

                .contenu--login-container {
                    font-size: 12px;
                    line-height: 1.5;

                    .titre {
                        font-size: 20px;
                    }
    
                    .sous-titre {
    
                    }
    
                    .formulaire {
                        padding-top: 10px;

                        .email--container {
                            .label {
                                .label--text {
                                    font-size: 15px;
                                }
                            }
        
                            .input {
                                font-size: 15px;
                            }
                        }
        
                        .password--container {
                            .label {
                                .label--text {
        
                                }
                            }
        
                            .input {
                                
                            }
                        }
        
                        .lien {
        
                        }
                        
                        .btn {
        
                        }
                    }
    
                    
                    
                }
            }
    
            .contenu--signup {
                width: 45%;
                max-width: none;
                margin: 0px;
                border-top: none;
                border-right: none;
                border-bottom: none;
                border-image: initial;
                border-left: 1px solid rgb(196, 196, 196);
                padding: 0px;
                display: flex;
                flex-direction: column;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;

                .titre {
                    margin-bottom: 9px;
                    color: rgb(45, 69, 88);
                    font: 500 20px "Chronicle SSm A", "Chronicle SSm B", serif;
                    display: block;
                }
    
                .sous-titre {
                    margin-bottom: 25px;
                }
    
                .btn {
    
                }
            }
        }
    }   
}


@media only screen and (min-width: 1024px) {
    .container--box-connexion {
        .wrapper--contenu {
            .contenu--login {
                .contenu--login-container {
                    .titre {
    
                    }
    
                    .sous-titre {
    
                    }
    
                    .formulaire {
                        .email--container {
                            .label {
                                .label--text {
        
                                }
                            }
        
                            .input {
        
                            }
                        }
        
                        .password--container {
                            .label {
                                .label--text {
        
                                }
                            }
        
                            .input {
                                
                            }
                        }
        
                        .lien {
        
                        }
                        
                        .btn {
        
                        }
                    }
    
                    
                    
                }
            }
    
            .contenu--signup {
                .titre {
    
                }
    
                .sous-titre {
    
                }
    
                .btn {
    
                }
            }
        }
    }    
}