.global--wrapper-popoverC {
    .anchor-reference {
        position: absolute;
        visibility: hidden;
        top: 50vh;
        left: 50vw;
    } 

    .overlay {
        display: none;
        position: absolute;
        top: -300px;
        left: 0;
        min-width: 100vw;
        min-height: calc(100vh + 300px);
        flex-shrink: 0;
        background-color: rgba(0, 0, 0, 0.534);
    }

    .show-layer {
        display: flex;
    }

    .hidden-layer {
        display: none !important;
    }
    
}

.popover .MuiPaper-root {
    left: 0 !important;
    top: 0 !important;
    min-width: 100vw !important;
    height: 100vh;
    max-height: 100vh !important;
    border-radius: 0;
    

    @media only screen and (min-width: 768px) {
        top: 0 !important;
        border-radius: 5px;
        min-width: 84vw !important;
        margin:5vh 8vw !important;

        min-height: 90vh !important;
        max-height: 90vh !important;
        
    }
    
}


.container--box-connexion {
    height: 100%;
    .connexion--wrapper {
        display: block;
        width: 100%;
        height: 100%;
    }

    .btn--link {
        background: none;
        border: none;
        padding: 12px;
        outline: none;
        display: block;
        font-size: 19px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1;
        appearance: none;
        cursor: pointer;
        opacity: 0.7;

        max-width: 300px;

        .close--icon {
            background-image: url('../../../public/img/icon4.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 1em;
            height: 1em;
            display: block;
            opacity: 0.65;
        }
    }

    
}


@media only screen and (min-width: 768px) {
    .container--box-connexion {
        .btn--link {
            top: 10px;
            right: 10px;
        }

        
    }   
}


@media only screen and (min-width: 1024px) {
    .container--box-connexion {
        
    }    
}