@import '/src/varG.scss';

.footer {
    display: flex;
    background-color: #57696d;
    width: 100%;
    padding: 20px 0 50px;
    background: #57696d;
    color: #fff;
    font-size: 13px;
    line-height: 2.77em;
    clear: both;

    .footer__container {
        display: flex;
        margin-inline: auto;

        .footer__nav {
            display: flex;
            flex-direction: column;
            padding-right: 80px;


            .footer__logo {
                display: flex;
                height: 60px;
                width: 100%;
            }

            .footerLinksRoot {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                min-width: 585px;
                gap: 2rem;
                margin-inline: auto;
                justify-content: center;
                margin-bottom: 30px;
                border-right: 1px solid white;

                .footer__column {
                    display: flex;
                    flex-direction: column;




                    .footer__subHeading {
                        font-size: $fsubHeading;
                        margin-bottom: 13px;
                        font-weight: 700;

                    }

                    ul {

                        li {
                            list-style: none;

                            .lien {
                                text-decoration: none;
                                font-size: $taille-font;
                                line-height: 26px;
                                color: white;
                            }

                            .lien:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                }

            }

            .footer__fine-print {
                display: flex;
                flex-direction: row;
                margin-top: 22px;
                font-size: $taille-font;

                .footer__copyright {
                    font-weight: 700;
                    margin-right: 5px;
                }

                .lien {
                    text-decoration: none;
                    color: white;
                    margin-inline: 4px;
                }

                .lien:hover {
                    text-decoration: underline;
                }

            }

        }

        .footer__actions {
            display: flex;
            flex-direction: column;
            min-width: 320px;
            padding-top: 38px;

            .social-charms {
                display: flex;
                margin: 22px 0 26px;

                .social-charms__icons {
                    display: flex;
                    flex-direction: row;
                    list-style: none;

                    li {
                        display: flex;
                        height: 40px;
                        width: 40px;

                        .social-charms__icon-link {
                            display: flex;
                            height: 100%;
                            width: 100%;
                            text-decoration: none;


                            .fa-brands {
                                display: flex;
                                color: white;
                                width: 100%;
                                height: 100%;
                                font-size: 2rem;
                                text-align: center;
                                justify-content: flex-start;
                                align-items: center;


                            }

                        }


                    }
                }
            }

            .footer__mailing-list {
                max-width: 320px;

                .mailing-list__header {
                    display: flex;
                    font-size: 1.8rem;
                    font-family: 'Chronicle SSm A', serif;
                    font-weight: 500;
                    line-height: 34px;
                    margin-bottom: 14px;
                }

                .mailing-list__blurb {
                    display: flex;
                    font-size: 1.2rem;
                    text-align: left;
                    margin-bottom: 30px;
                    line-height: 1.71;
                }

                .mailing-list__form-container {
                    position: relative;
                    margin-top: 5px;


                }
            }

        }
    }

}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 18px 16px 92px 16px;

        .footer__container {
            .footer__nav {
                .footerLinksRoot {
                    display: flex;
                    flex-direction: column;
                    min-width: 94%;
                    border: none;
                    gap: 0;
                    border-bottom: 1px solid #fff;

                    .footer__column {
                        display: flex;
                        width: 100%;
                        margin-inline: 0;
                        border-top: 1px solid #fff;
                        padding: 0 9px;
                        font-weight: 700;
                        text-transform: uppercase;

                        .footer__subHeading {
                            padding: 22px 0 19px 0;
                            line-height: normal;
                            margin-bottom: 0;
                            justify-content: space-between;
                            align-items: center;
                            display: flex;
                            cursor: pointer;

                            .company--exp-icon, .help--exp-icon, .explore--exp-icon {
                                height: 1em;
                                border-color: inherit;
                                font-size: 11px;
                                position: relative;
                                display: inline-flex;
                                -webkit-box-align: center;
                                align-items: center;
                            }

                            .plus--caret {
                                &::before, &::after {
                                    content: " ";
                                    width: 1em;
                                    height: 0px;
                                    border-top-width: 1px;
                                    border-top-style: solid;
                                    border-radius: 0.5px;
                                    border-color: inherit;
                                    transform: rotate(0deg);
                                    transform-origin: center center;
                                }

                                &::after {
                                    content: " ";
                                    transform: rotate(90deg);
                                    transform-origin: center center;
                                    position: absolute;
                                    top: calc(50% - 0.5px);
                                    left: 0px;
                                }
                            }

                            .minus--caret {
                                &::before {
                                    content: " ";
                                    width: 1em;
                                    height: 0px;
                                    border-top-width: 1px;
                                    border-top-style: solid;
                                    border-radius: 0.5px;
                                    border-color: inherit;
                                    transform: rotate(0deg);
                                    transform-origin: center center;
                                }
                            }
                        }

                        ul {
                            display: none;
                            flex-direction: column;
                            margin-top: -7px;
                            padding-bottom: 25px;
                            font-weight: 400;
                            text-transform: none;
                            list-style: none;
                        }

                        .nav--company-exp[aria-expanded='true']~#companyDropdown {
                            display: flex;
                            
                        }

                        .nav--help-exp[aria-expanded='true']~#helpDropdown {
                            display: flex;
                        }

                        .nav--explore-exp[aria-expanded='true']~#exploreDropdown {
                            display: flex;
                        }
                    }
                }

                .footer__fine-print {
                    display: flex;
                    flex-wrap: wrap;

                    .footer__copyright, .lien {
                        height: fit-content;
                    }
                }
            }

            .footer__actions {
                padding-top: 10px;
                min-width: calc(320px - 32px);
            }
        }
    }

}





@media only screen and (max-width: 1024px) {
    .footer {
        .footer__container {
            display: flex;
            width: 100%;
            flex-direction: column;
            margin: 0;

            .footer__nav {
                display: flex;
                padding-right: 0;

                .footer__logo {
                    display: none;
                }

                .footerLinksRoot {
                    width: 90%;
                    border: none;

                    .footer__column {
                        margin-inline: auto;

                    }
                }

                .footer__fine-print {
                    justify-content: center;
                }
            }


            .footer__actions {
                order: -1;
                justify-content: center;
                width: 100%;

                .social-charms {
                    margin: 22px 0;
                    justify-content: center;


                }

                .footer__mailing-list {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 44px;
                    min-width: 100%;


                    .mailing-list__copy {
                        justify-content: center;
                        width: 100%;

                        .mailing-list__header {
                            justify-content: center;
                            margin-bottom: 14px;
                            font-size: 24px;
                            font-weight: 500;
                            font-family: "Chronicle SSm A", serif;
                        }

                        .mailing-list__blurb {
                            width: 100%;
                            text-align: center;
                            justify-content: center;
                            font-size: 14px;
                        }
                    }


                }
            }
        }
    }
}