.hotline--urgent {
    background-image: url('../../../public/img/icon-urgent.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 18px;
    height: 22px;
    margin: 0 8px 2px 0;
    display: inline-block;
    vertical-align: middle;
}