.fragHotline {
    padding-bottom: 30px;
    text-align: left;

    .hotline--welcome {
        background: #728997;
        padding-top: 55px;
        margin-top: -55px;
        color: #2d4558;
        min-height: 258px;
        position: relative;
        text-align: center;
    }

    .content--row {
        display: flex;
        align-items: flex-start;
        margin-top: 20px;

        .content--main {
            width: 100%;
            min-width: 0;
            flex-grow: 1;
            position: relative;

            .hotline--topics {
                margin-bottom: 20px;
                border: 1px solid #eaeaea;
                padding: 20px 5px;
                text-align: center;

                .hotline--topics-heading {
                    margin-bottom: 15px;
                    color: #2d4558;
                    font-weight: 500;
                    font-family: "Chronicle SSm A", serif;
                    font-size: 20px;
                    line-height: normal;
                }

                .hotline--topics-list {
                    font-size: 12.5px;
                    line-height: 2.56;
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        width: 50%;
                        padding: 0 6px;

                        .lien {
                            color: #2d4558;
                        }
                    }
                }
            }

            .hotline--questions {
                .hotline--nav {
                    padding-bottom: 20px;

                    .hotline--search-btn {
                        margin-bottom: 30px;
                        border-bottom: 1px solid #eaeaea;
                            
                        .search--toggle {
                            height: auto;
                            width: auto;
                            padding-bottom: 6px;
                            float: none;
                            display: flex;
                            justify-content: space-between;

                            &::before {
                                content: "Search Hotline Posts";
                                color: #c4c4c4;
                                font-weight: 400;
                                font-family: "Chronicle SSm A", serif;
                                font-size: 15px;
                                font-style: italic;
                                line-height: normal;
                            }

                            .icon--search {
                                background-image: url('../../../public/img/icon-search3.svg');
                                background-size: 100% auto;
                                background-repeat: no-repeat;
                                width: 1em;
                                height: 1em;
                                display: inline-block;
                                font-size: 21px;
                                opacity: 0.5;
                            }
                        }
                    }

                    .hotline--filters {
                        border: 1px solid #eaeaea;
                        border-left: none;
                        display: flex;

                        li {
                            width: 33.333%;

                            .hotline--filters-link {
                                border-left: 1px solid #eaeaea;
                                font-weight: 300;
                                font-family: "Gotham SSm A", sans-serif;
                                font-size: 13px;
                                line-height: 37px;
                                text-align: center;
                                text-transform: capitalize;
                                display: block;

                                &:hover {
                                    background: #70799a;
                                    color: #fff;
                                    font-weight: 500;
                                }
                            }

                            .hotline--filters-link--active {
                                background: #70799a;
                                color: #fff;
                                font-weight: 500;
                            }
                        }
                    }
                }

                .hotline--content {
                    ul {
                        .question--el {
                            margin-bottom: 25px;
                            border-bottom: 1px solid #eaeaea;
                            padding-bottom: 18px;

                            &:last-child {
                                margin-bottom: 17px;
                                border: none;
                            }
                        }
                    }
                }
            }
        }

        .sidebar {
            display: none;

            .add--slot {
                margin-bottom: 30px;
                text-align: center;
                overflow: hidden;
            }

            .ad--slot-aside {
                display: none;
            }

            .sidebarRoot {
                .mailingListBanner {
                    .mailing--list {
                        background: rgb(247, 247, 247);
                        padding: 30px 25px;
                        position: relative;
                        text-align: center;

                        .mailing--list-copy {
                            .mailing--list-header,.mailing--blurb {
                                max-width: 300px;
                                margin: 0 auto;
                                font-weight: 400;
                                font-family: "Gotham SSm A", sans-serif;
                                font-size: 15px;
                                line-height: 24px;
                                line-height: 1.86;
                                text-align: center;
                            }

                            .mailing--list-header {
                                font-weight: 700;
                                display: block;
                                color: rgb(45, 69, 88);
                                font: 500 24px / 1.33 "Chronicle SSm A", "Chronicle SSm B", serif;
                            }

                            .mailing--blurb {
                                margin-bottom: 20px;
                                font-size: 14px;
                                color: rgb(68, 68, 68);
                            }
                        }

                        .mailing--list-form--container {
                            position: relative;

                            .mailing--list-form {
                                max-width: 350px;
                                margin: 10px auto 0 auto;
                                display: flex;
                                align-items: flex-end;
                                margin: 0px 5px;
                                display: block;

                                &>div {
                                    margin-top: -18px;
                                    flex-grow: 1;
                                }

                                .input--container {
                                    input[type="email"] {
                                        border-right: 1px solid rgb(234, 234, 234);
                                        border-radius: 1px;
                                        padding: 10px;
                                    }

                                    label {
                                        .email--label {
                                            padding-bottom: 0.333em;
                                            color: rgb(68, 68, 68);
                                            font-size: 12px;
                                            line-height: 1.25em;
                                            text-align: left;
                                            display: block;
                                            opacity: 0;
                                            visibility: hidden;
                                            transition: opacity 0.2s ease 0s, visibility 0.2s ease 0s, color 0.2s ease 0s;
                                        }

                                        .show--label {
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }

                                    .email--input {
                                        background: rgb(255, 255, 255);
                                        width: 100%;
                                        height: 45px;
                                        border: 1px solid rgb(234, 234, 234);
                                        outline: none;
                                        padding: 10px 12px;
                                        color: rgb(68, 68, 68);
                                        font-size: 16px;
                                        font-family: inherit;
                                        border-radius: 1px;
                                        appearance: none;
                                        transition: border-color 0.2s ease 0s;
                                    }
                                }

                                .mailing--list-btn {
                                    margin: 0;
                                    width: auto;
                                    margin-top: 25px;
                                    padding: 0px 18px;
                                    line-height: 36px;
                                    border-radius: 0 1px 1px 0;
                                    font-size: 14px;
                                    line-height: 45px;
                                    flex-shrink: 0;
                                    text-transform: none;
                                }
                            }
                        }
                    }
                }
            }

            .top--user {
                .sidebar--heading {

                }

                input[type="radio"] {
                    border-radius: 10px;
                }

                .top--user-radio {

                }

                .top--user-radio--weekly {

                }

                .top--user-label {

                }

                .top--user-radio--monthly {

                }

                .top--user-list {
                    .top--user-item {
                        .lien {
                            .image {

                            }
                        }
                    }
                }

                .top--user-list-weekly {
                    
                }

                .top--user-list-monthly {

                }
            }
        }
    }
}

@media only screen and (min-width: 728px) {
    .fragHotline {
        .hotline--welcome {
            padding-top: 40px;
            margin-top: -40px;
        }

        .content--row {
            margin-top: 40px;

            .content--main {
                .hotline--topics {
                    margin-bottom: 33px;
                    padding: 20px 13px 20px 0;
                    text-align: left;

                    .hotline--topics-heading {
                        margin-left: 35px;
                        font-size: 24px;
                    }

                    .hotline--topics-list {
                        font-size: 12px;
                        line-height: 2.25;

                        li {
                            width: 25%;
                            padding: 0 2px 0 35px;
                            .lien {}
                        }
                    }
                }

                .hotline--questions {
                    .hotline--nav {
                        padding-bottom: 30px;
                        display: flex;
                        align-items: flex-end;

                        .hotline--search-btn {
                            margin-bottom: 0;
                            text-align: right;
                            flex-grow: 1;
                            flex-shrink: 0;
                            order: 1;

                            .search--toggle {
                                display: inline-flex;

                                &::before {
                                    font-size: 14px;
                                }

                                .icon--search {
                                    margin-left: 10px;
                                }
                            }
                        }

                        .hotline--filters {
                            width: 465px;

                            li {
                                .hotline--filters-link {
                                    line-height: 29px;
                                }

                                .hotline--filters-link--active {}
                            }
                        }
                    }

                    .hotline--content {
                        ul {
                            .question--el {}
                        }
                    }
                }
            }

            .sidebar {
                display: none;

                .ad--slot-aside {
                    width: 300px;
                    min-height: 250px;
                    display: block;
                }

                .sidebarRoot {
                    .mailingListBanner {
                        .mailing--list {
                            .mailing--list-copy {
                                .mailing--list-header,.mailing--blurb {
                                }

                                .mailing--list-header {}

                                .mailing--blurb {}
                            }

                            .mailing--list-form--container {

                                .mailing--list-form {
                                    
                                    @media only screen and (min-width: 880px) {
                                        margin: 10px auto 0 0;
                                    }

                                    .input--container {
                                        @media only screen and (min-width: 880px) { 
                                            input[type="email"] {
                                                font-size: 13px;
                                            }
                                        }

                                        label {
                                            .email--label {}
                                        }

                                        .email--input {
                                            font-size: 15px;
                                        }
                                    }

                                    .mailing--list-btn {}
                                }
                            }
                        }
                    }
                }

                .top--user {
                    .sidebar--heading {}

                    .top--user-radio {}

                    .top--user-radio--weekly {}

                    .top--user-label {}

                    .top--user-radio--monthly {}

                    .top--user-list {
                        .top--user-item {
                            .lien {
                                .image {}
                            }
                        }
                    }

                    .top--user-list-weekly {}

                    .top--user-list-monthly {}
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .fragHotline {
        .hotline--welcome {}

        .content--row {
            .content--main {
                .hotline--topics {
                    max-width: 660px;
                    padding: 20px 10px 20px 3px;

                    .hotline--topics-heading {
                        margin-left: 20px;
                    }

                    .hotline--topics-list {
                        li {
                            padding: 0 0 0 20px;
                            .lien {}
                        }
                    }
                }

                .hotline--questions {
                    .hotline--nav {
                        .hotline--search-btn {
                            .search--toggle {
                                .icon--search {}
                            }
                        }

                        .hotline--filters {
                            li {
                                .hotline--filters-link {}

                                .hotline--filters-link--active {}
                            }
                        }
                    }

                    .hotline--content {
                        ul {
                            .question--el {}
                        }
                    }
                }
            }

            .sidebar {
                display: block;
                width: 340px;
                padding-left: 40px;
                flex-shrink: 0;
                -webkit-position: -webkit-sticky;
                position: sticky;
                visibility: visible;
                top: -809px;

                &>* {
                    margin-bottom: 30px;
                }

                &>div {
                    margin-bottom: 45px;
                }

                .ad--slot-aside {
                    
                }

                .sidebarRoot {
                    .mailingListBanner {
                        .mailing--list {
                            .mailing--list-copy {
                                .mailing--list-header,.mailing--blurb {}

                                .mailing--list-header {}

                                .mailing--blurb {}
                            }

                            .mailing--list-form--container {
                                .mailing--list-form {
                                    .input--container {
                                        label {
                                            .email--label {}
                                        }

                                        .email--input {}
                                    }

                                    .mailing--list-btn {}
                                }
                            }
                        }
                    }
                }

                .top--user {
                    padding: 0 25px;
                    display: flex;
                    flex-wrap: wrap;

                    .sidebar--heading {
                        width: 100%;
                        margin-bottom: 15px;
                        color: #2d4558;
                        font-size: 13px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }

                    .top--user-radio {
                        height: 0;
                        width: 0;
                        margin: 0;
                        overflow: hidden;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                    }

                    .top--user-radio:checked+.top--user-label {
                        border-bottom: 2px solid #2d4558;
                    }

                    .top--user-radio--weekly {}

                    .top--user-label {
                        width: 50%;
                        border-bottom: 1px solid #c4c4c4;
                        padding-bottom: 10px;
                        color: #2d4558;
                        text-align: center;
                    }

                    .top--user-radio--monthly {}

                    .top--user-list {
                        width: 100%;
                        padding: 8px 10px;
                        display: none;
                        counter-reset: users;

                        .top--user-item {
                            margin-top: 12px;
                            color: #2d4558;
                            font-size: 12px;
                            display: flex;
                            align-items: center;

                            &::before {
                                counter-increment: users;
                                content: counter(users) ".";
                                width: 28px;
                            }

                            .lien {
                                display: flex;
                                align-items: center;

                                .avatar {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                    display: block;
                                    overflow: hidden;
                                }

                                .image {
                                    margin-right: 15px;
                                    opacity: 1;
                                    transition: opacity 0.5s;
                                }
                            }
                        }
                    }

                    .top--user-radio--monthly:checked~.top--user-list--monthly {
                        display: block;
                    }

                    .top--user-radio--weekly:checked~.top--user-list--weekly {
                        display: block;
                    }

                    .top--user-list-weekly {}

                    .top--user-list-monthly {}
                }
            }
        }
    }
}