.content--container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    position: relative;

    .lien {
        font-weight: inherit;
    }

    @media only screen and (min-width: 768px) {
        padding: 0 22px;
    }

    @media only screen and (min-width: 1024px) {
        max-width: 1024px;
        padding: 0 12px;
    }
}

.recipes--index {
    .content--container {
        .recipes--index-heading {

        }

        .recipes--index-search {
            .search--form {
                .form {
                    .wrapper__form {
                        .wrapper__input {
                            .input--search {}
                        }
        
                        .search-button {}
                    }
                }
            }
        }

        .recipes--index-featured--tags {
            .recipes--index-featured--tags-list {
                .recipes--index-featured--tags-list-item {
                    .recipe--link {
                        .recipes--index-featured--tags-img {
                            .d1 {
                                .d1--1 {
                                    .image {

                                    }
                                }
                            }
                        }
                    }
                }
            }
        } 
    }

    
}