.shop--index-container {
    padding: 40px 16px;
    position: relative;

    @media only screen and (min-width: 768px) {
        & {
            padding: 40px 22px;
        }
        
    }

    @media only screen and (min-width: 1024px) {
        & {
            max-width: 1024px;
            margin: 0 auto;
            padding: 50px 12px;
        }
        
    }
}