* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    .content--container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 16px;
        position: relative;

        .lien {
            font-weight: inherit;
        }

        @media only screen and (min-width: 768px) {
            padding: 0 22px;
        }

        @media only screen and (min-width: 1024px) {
            max-width: 1024px;
            padding: 0 12px;
        }

        
    }

    ::selection {
        background: #57696d;
        color: #fff;
    }

    p {
        margin: 0 0 20px;
    }

    ul, ol {
        list-style: none;
    }

    h1,h2,h3,h4 {
        font-weight: bold;
    }

    .lien {
        text-decoration: none;
        color: #444;
    }

    .icon--arrow {
        height: 1em;
        border-color: inherit;
        display: inline-flex;
        font-size: 10px;
        transform: rotate(180deg);

        &:before,
        &::after {
            content: " ";
            width: 1em;
            height: 0;
            border-top: 1px solid;
            border-radius: 1px;
            border-color: inherit;
            transform: rotate(-45deg);
            transform-origin: right;
        }

        &::after {
            transform: rotate(45deg);
            transform-origin: left;
        }
    }

    .icon--arrow-right {
        transform: rotate(90deg);
    }

    .btn {
        background: #c4c4c4;
        border: none;
        border-radius: 1px;
        padding: 0 8px;
        outline: none;
        display: inline-block;
        color: #fff;
        font-weight: 400;
        font-family: "Gotham SSm A", sans-serif;
        font-size: 13px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        transition: background-color 0.2s; 

        &:hover, &:focus {
            background: #ababab;
            color: #fff;
            cursor: pointer;
        }
    }

    .btn--small {
        border-radius: 1px;
        padding: 5px 18px;
        line-height: 25px;
    }

    .btn--secondary {
        background: #a18f7a;
        font-size: 14px;
        text-transform: none;

        &:hover, &:focus {
            background: #887660;
        }
    }

    .btn--white {
        background: #fff;
        color: #444;
    }

    .view--more {
        color: #a18f7a;
        font-weight: 400;
        font-family: "Gotham SSm A", sans-serif;
        font-size: 12px;
        line-height: normal;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
    }

    .btn--default {
        background: #2d4558;
        width: 100%;
        font-size: 17px;
        line-height: 50px;
    }

    .btn--outline {
        background: none;
        border: 1px solid #2d4558;
        font-size: 14px;
        line-height: 48px;
        color: #2d4558;
        text-transform: none;
    }

    .btn--inline {
        width: auto;
        padding-left: 35px;
        padding-right: 35px;
    }

    .view--more-medium {
        font-weight: 500;
    }

}